.row {
	min-height: 150px;
}

#wrap {
	background: url("../images/background.jpg") no-repeat center top;
	background-size: cover;
}

h5, p {
	font-family: 'Play', sans-serif;
	color: #333;
}
